[Desktop Entry]
Type=Application
Name=st
GenericName=Terminal Emulator
Comment=simple-terminal emulator for X
Icon=utilities-terminal
Exec=st
Categories=System;TerminalEmulator
